.env
.idea
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
!/var/.gitkeep
/var/cache/*
!/var/cache/.gitkeep
/var/log/*
!/var/log/.gitkeep
/vendor/
/src/.preload.php
###< symfony/framework-bundle ###

/public/sw.js
###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
supervisord.*
public/sitemap*
