<div class="flex justify-between">
    <a aria-label="Link to github" target="_blank" href="https://github.com/ChrisB9"><i class="lab la-github text-3xl md:text-6xl"></i></a>
    <a aria-label="Link to linkedin" target="_blank" href="https://www.linkedin.com/in/christian-rodriguez-benthake-1198171b4"><i class="lab la-linkedin-in text-3xl md:text-6xl"></i></a>
    <a aria-label="Link to xing" target="_blank" href="https://www.xing.com/profile/Christian_RodriguezBenthake"><i class="lab la-xing text-3xl md:text-6xl"></i></a>
    <a aria-label="E-Mail me" target="_blank" href="mailto:contact&#64;cben.co"><i class="las la-paper-plane text-3xl md:text-6xl"></i></a>
</div>
