<footer class="flex p-2">
    <div class="w-1/3 text-left">
        <a href="/social-engagement">Ways to help</a>
    </div>
    <div class="w-1/3 text-center">Made with <i class="las la-mug-hot"></i> by Chris Ben <i class="las la-copyright"></i>{{ 'now'|date('Y') }}</div>
    <div class="w-1/3 mr-4 text-right">
        <a href="/imprint">Imprint</a>
    </div>
</footer>
