<footer class="flex p-2">
    <div class="w-1/3 text-left">
        <a href="/readinglist" class="text-blue-700 underline">Reading list</a>
    </div>
    <div class="w-1/3 text-center">Made with <i class="las la-mug-hot"></i> by cben.co <i class="las la-copyright"></i>{{ 'now'|date('Y') }}</div>
    <div class="w-1/3 mr-4 text-right">
        <a href="/imprint" class="text-blue-700 underline">Imprint (Impressum)</a>
    </div>
</footer>
