<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ title |default('Welcome!') }}{% endblock %} | cben.dev</title>
    {% block stylesheets %}
        {% for css in encore_entry_css_files('app') %}
            <link rel="stylesheet" href="{{ asset(css) }}">
        {% endfor %}
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="icon" type="image/png" href="//cben.dev/assets/favicon-96x96.png">
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
    {% block additionalStyles %}
        {% if enableTicTacToe is defined %}
            {{ encore_entry_link_tags('tictactoe') }}
        {% endif %}
    {% endblock %}
</head>
